@page
@model Art_Site.Pages.DevelopmentLogModel
@{
    ViewData["Title"] = "Development Log";
}

<div class="text-center">
    <h1 class="display-4">Logs</h1>
    <p>This is where I will be summarizing my progress.</p>
</div>
